{
    "clientId": "",
    "guildId": "",
    "token": "",
    "trialChannelCategory": "",
    "activeVotesCategory": "",
    "trial_id": "",
    "recruiter_role_id": "",
    "officer_role_id": "",
    "allowed-ids": [],
    "general-channel": "",
    "blizzard-client": "",
    "blizzard-secret": ""
}
